
<section class="answer">
    <div class="container">
        <div class="pre-title">
            Результат прохождения теста
            <img src="images/arrow-answer.png" alt="arrow">
            <span id="pre-title"></span>
        </div>
        <div class="big-title">
            <span>Правильные ответы </span>к тесту
        </div>
        <div class="answer-tested">
            Тест выполнил
            <span id="tested"></span>
        </div>
        <div class="answer-block" id="answer-block">

        </div>
        <div class="result-callback-link link-block">
            <a href="" class="result-callback link" id="result-callback">
                <span>Обратно к моему результату теста</span>
                <img src="images/arrow2.png" alt="arrow">
            </a>
        </div>
    </div>
</section>
