
<section class="main">
    <div class="container">
        <div class="content">
            <h1 class="big-title">
                Проверь свои знания JavaScript вместе с <span>АйтилогияQuiz</span>!
            </h1>
            <div class="main-description">
                Мы поможем подготовиться к контрольному заданию или тесту по JavaScript!
            </div>
            <div class="main-action">
                <a href="#/login" class="button main-button">Начать тест</a>
            </div>
        </div>
        <div class="image">
            <img src="images/mainImage.png" alt="main-image" class="main-image">
        </div>

    </div>

</section>

