
<section class="test">
    <div class="container">
        <div class="pre-title" id="pre-title">
            Тест №1. “JavaScript: Начальный уровень”
        </div>
        <div class="test-progress-bar" id="progress-bar">

        </div>
        <div class="test-question">
            <h2 class="test-title" id="title">
                <span>Вопрос 2: </span> Тут должен быть текст вопроса?
            </h2>
            <div class="test-question-options" id="options">

            </div>
        </div>
        <div class="test-question-action">
            <div class="test-prev-action">
                <button class="button transparent" id="prev" disabled>Назад</button>
            </div>
            <div class="test-time">
                <div class="test-time-text">Осталось времени:</div>
                <div class="test-time-clock" id="timer">60</div>
            </div>
            <div class="test-next-action">
                <button class="button transparent" id="next" disabled>Дальше</button>
            </div>
        </div>
        <div class="pass-question">
            <a href="javascript: void(0)" id="pass" class="pass-link">Пропустить вопрос <img src="images/arrow2.png"
                                                                                             alt="arrow"></a>

        </div>

    </div>
</section>
